
body{
    padding: 0;
    margin: 0;
    background-color: rgb(41, 39, 39);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: royalblue;
    text-align: center;
    
}
h1{
    color: rgb(191, 153, 226);
    text-align: center;
    padding-top: 120px;
}
#container{
    height:auto;
    width: 100%;
    display:flex;
    flex-flow:row wrap;
    text-align: center;
    
}
.result{

    flex:1; 
   margin-top: 20px;
  line-height: 15px;
  text-align: center;
  box-sizing: border-box;
  
}
#container img{
border-radius: 10px;  
margin-right: 40px;
margin-left:60px;
text-align: center;
    
}

    .search{
        background-color: #4caf7a;
        color: white;
        padding: 13px;
        font-size: 12px;
        border: none;
        border-radius: 5px;
    }
    #input{

        line-height: 25px;
        padding: 4px;   
    }
    button{
        text-decoration: none;
        border: none;
       line-height: 25px;
       background-color: rgb(42, 85, 7);
       color: rgb(157, 204, 29);
       border-radius: 5px;
   }
   #section3,#section2,#section1 {
    padding-top: 25px;
    padding-right: 60px;
    line-height: 25px;
    
   }
   .main{
    display:flex;
    justify-content: center;
    padding-top: 50px;
   }
   .ingredient{

    display:none;
   }
   a{
    text-decoration: none;
    color:rgb(157, 204, 29);
   }
   label{
    color:palegreen;
    
   }
   a h4{
       display: inline;
       background-color: lightgoldenrodyellow;
       border-radius: 2px;
       padding:5px;
    
   }
   p{
       font-size: smaller;
   }
   #choice{

    padding:8px;
   }
   ion-icon{

    height: 20px;
    position: absolute;
    zoom: 150%;
   }
   #submit{

    background-color:rgb(42, 85, 7) ;
    color: mediumseagreen;
    margin-left: 30px;
    line-height:20px;
    border-radius: 5px;
    border-style: hidden;
   }
   @media only screen and (min-width: 230px) and (max-width: 730px) 
  {
   #input {
        
    line-height: 30px;
    border-radius: 10px;
       }
       
       ion-icon{

        height: 25px;
        zoom: 170%;
       }
       #choice{
        padding:8px;
        border-radius: 10px;
        margin-left: 10px;
       }
       #submit{
        line-height:30px;
        margin-top:12px;
       }
       #vegan,#vegetarian{

        width:18px;
        height:18px;
        margin-top: 20PX;
       }
        label{
           font-size: 16px;
       }
       .main{
        display:flex;
        flex-direction: column;
        align-items: center;
       }
       #section3,#section2,#section1 {
        
        padding-right: 20px;
        padding-left: 15px;
        
       }

}
